:root{
    --bg2: #3498db;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #3498db;
}
main .site-title{
    background: url(1.png);
    background-size: cover;
    height: 80vh;
    text-align: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
}
main .site-title h1, h3{
    padding-top: 30px;
    margin: .3rem;
    color: #3498db;
}
main.site-title.btn{
    padding-top: 20px;
    background: royalblue;
    border: 2px solid royalblue;
    background: transparent;
    color: royalblue;
}

#SellForm{
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border-bottom: 1px solid #aaaaaa;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
input.invalid {
    background-color: #ffdddd;
}
.tab {
    display: none;
}
.step.active {
    opacity: 1;
}
.step.finish {
    background-color: #04AA6D;
}